* {
	margin:0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;	
}

body {
	background-color: #ebf2fa;
	color: #3d5266;
	width: 100%;
	height: 100%;
}

.scope {
	width: 533px;
	height: 300px;
	margin: 40px auto;
	background-color: #fff;
	box-shadow: 3px 6px 5px #888888;
	border-radius: 3px;
	position: relative;
}

.scope > div {
	width: 40px;
	height: inherit;
	border-left: 1px solid #ddd;
	float: left;
	text-align: center;
    font-family: 'Jacques Francois Shadow', cursive;
    color: #888;
    font-weight: bold;	
}

.scope > div.on {
	background-color: #428bca;
	color: #fff;
	transition: background-color 300ms ease-in;
}

#circle {
	display: block;
	width: 20px;
	height: 20px;
	background: #fc2e5a;
	border-radius: 10px;
	position: absolute;
	left:10px;
	top: 80%;
	z-index: 100;
}